# --------------------------
# Python & project artifacts
# --------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# PyInstaller
*.manifest
*.spec

# Testing / coverage
.pytest_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# --------------------------
# PyCharm
# --------------------------
.idea/
*.iml
*.iws
out/

# --------------------------
# dotenv
# --------------------------
.env
.env.*